# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
db.sqlite3-journal
.env
venv/
env/
ENV/
*.log

# --- ANGULAR / NODE ---
node_modules/
.angular/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.editorconfig
.stackblitzrc

# --- IDEs & SISTEMA ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
bin/
obj/

# --- RECURSOS ESPECÍFICOS DO LAB/LINUX ---
.python-version
pip-log.txt
pip-delete-this-directory.txt